.border {
	margin: 4px;
	border: 1px dashed #00A9F0;

	width: calc(100% - 8px);
	height: calc(100% - 8px);
}

.el {
	position: absolute;

	&.square {
		width: 8px;
		height: 8px;
		border: 1px solid #00A9F0;
	}

	&.rotate {
		width: 13px;
		height: 11px;

		&.top, &.bottom {
			left: 50%;
			transform: translateX(-50%) rotate(90deg);

			&.bottom { transform: translateX(-50%) rotate(90deg) scale(-1) };
		}

		&.left, &.right {
			top: 50%;
			transform: translateY(-50%);

			&.right { transform: translateY(-50%) scale(-1) };
		}
	}
}

.top { top: 0; }
.bottom { bottom: 0; }
.left { left: 0; }
.right { right: 0; }
