@use "./global/adaptivity.lit";

:root, :host {
	--red-brand-color: #F85D77;
	--green-brand-color: #C8F199;
	--yellow-brand-color: #F6E17D;
	--dark-color: #342C21;
	--surface-color: #FBF7F9;

	--brand-gradient-0: linear-gradient(#F85D77, #F6E17D);
	--brand-gradient-1: linear-gradient(#C8F199, #F6E17D);
	--transparent-surface-color: #FBF7F922;

	--launch-anim-delay: 500ms;
	--launch-anim-length: 600ms;

	--page-outer-margin: 64px;
	--navigation-height: 62px;

	@include adaptivity.for-phone-only {
		--page-outer-margin: 18px;
	}

	@include adaptivity.top-wrap {
		--navigation-height: calc(62px + 36px);
	}
}
